{% extends "shop/index.html" %}

{% block content %}
<div class="row mt-4">
    <div class="col-4">
        <div class="shadow p-4">
            <h4>Bestellübersicht</h4>
            <hr />
            {% for artikel in artikels %}
            <div class="d-flex">
                <p class="p-2">{{artikel.menge}}</p>
                <p class="me-auto p-2">{{artikel.artikel.name}}</p>
                <p class="p-2">{{artikel.get_summe|floatformat:2}} €</p>
            </div>
            {% endfor %}
            <hr />
            <div class="d-flex">
                <p class="p-2 me-auto fw-bold">Menge: {{bestellung.get_gesamtmenge}}</p>
                <p class="fw-bold p-2">Gesamtpreis: {{bestellung.get_gesamtpreis|floatformat:2}} €</p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="shadow p-4">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-md-2">
                    <label for="inputPLZ" class="form-label">Postleitzahl</label>
                    <input type="text" class="form-control" id="inputPLZ">
                </div>
                <div class="col-md-5">
                    <label for="inputCity" class="form-label">Stadt</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-5">
                    <label for="inputLand" class="form-label">Land</label>
                    <input type="text" class="form-control" id="inputLand">
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary">weiter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}