{% load static  %}
<nav class="navbar shadow p-3 mb-4" style="background-color: rgb(23, 132, 23) ">
    <div< class="container-fluid">
        <a class="navbar-brand link-light" href="{% url 'shop' %}"><img src="{% static 'pics/logo.png' %}" alt=""></a>
        <div class="navbar-nav">
            <div class="d-flex">
                <a class="nav-link link-light p-2" href="#">Login</a>
                <a class="nav-link link-light p-2" href="{% url 'warenkorb' %}"><img src="{% static 'pics/floppy.png' %}" alt="">
                <span class="badge rounded-pill bg-danger position-absolute top-25 top-25 translate-middle">33</span>
                </a>
            </div>
        </div>
    </div>
</nav>
